<a href="https://colab.research.google.com/github/neurosxx/Descriptive-Stats-Phase-2-/blob/main/Database_Admin_101_LAB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Database Admin 101 - Lab

## Introduction

In this lab, you'll go through the process of designing and creating a database. From there, you'll begin to populate this table with mock data provided to you.

## Objectives

You will be able to:

* Use knowledge of the structure of databases to create a database and populate it

## The Scenario

You are looking to design a database for a school that will house various information from student grades to contact information, class roster lists and attendance. First, think of how you would design such a database. What tables would you include? What columns would each table have? What would be the primary means to join said tables?

## Creating the Database

Now that you've put a little thought into how you might design your database, it's time to go ahead and create it! Start by import the necessary packages. Then, create a database called **school.sqlite**.

In [1]:
# Import necessary packages
import sqlite3

In [2]:
# Create the database school.sqlite
conn = sqlite3.connect('school.sqlite')
cur = conn.cursor()

In [3]:
!ls

sample_data  school.sqlite

## Create a Table for Contact Information

Create a table called contactInfo to house contact information for both students and staff. Be sure to include columns for first name, last name, role (student/staff), telephone number, street, city, state, and zipcode. Be sure to also create a primary key for the table.

In [4]:
cur.execute("""
CREATE TABLE contactInfo (
  id INTEGER PRIMARY KEY,
  firstName TEXT,
  lastName TEXT,
  role TEXT,
  "telephone " TEXT,
  city TEXT,
  street TEXT,
  state TEXT,
  "zipcode " TEXT
)
""")
# TelephoneNumber is text due to usualy having hyphen, etc
# Zipcode is also technically not numbers, just hold things. Keep dtypes consistent.

## Populate the Table

Below, code is provided for you in order to load a list of dictionaries. Briefly examine the list. Each dictionary in the list will serve as an entry for your contact info table. Once you've briefly investigated the structure of this data, write a for loop to iterate through the list and create an entry in your table for each person's contact info.

In [5]:
!wget https://github.com/learn-co-curriculum/dsc-database-admin-101-lab/raw/refs/heads/master/contact_list.pickle

--2024-10-03 02:59:38--  https://github.com/learn-co-curriculum/dsc-database-admin-101-lab/raw/refs/heads/master/contact_list.pickle
Resolving github.com (github.com)... 140.82.113.3
Connecting to github.com (github.com)|140.82.113.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/learn-co-curriculum/dsc-database-admin-101-lab/refs/heads/master/contact_list.pickle [following]
--2024-10-03 02:59:38--  https://raw.githubusercontent.com/learn-co-curriculum/dsc-database-admin-101-lab/refs/heads/master/contact_list.pickle
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.108.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1213 (1.2K) [application/octet-stream]
Saving to: ‘contact_list.pickle’

contact_list.pickle 100%[===================>]   1.18K  --.-KB/s    in 0s

2024-10-03 02:59:38 (51.4 MB/s) - ‘contact_list.pickle’ saved [1213/1213]

In [6]:
# Load the list of dictionaries; just run this cell
import pickle

with open('contact_list.pickle', 'rb') as f:
    contacts = pickle.load(f)

In [7]:
contacts

[{'firstName': 'Christine',
  'lastName': 'Holden',
  'role': 'staff',
  'telephone ': 2035687697,
  'street': '1672 Whitman Court',
  'city': 'Stamford',
  'state': 'CT',
  'zipcode ': '06995'},
 {'firstName': 'Christopher',
  'lastName': 'Warren',
  'role': 'student',
  'telephone ': 2175150957,
  'street': '1935 University Hill Road',
  'city': 'Champaign',
  'state': 'IL',
  'zipcode ': '61938'},
 {'firstName': 'Linda',
  'lastName': 'Jacobson',
  'role': 'staff',
  'telephone ': 4049446441,
  'street': '479 Musgrave Street',
  'city': 'Atlanta',
  'state': 'GA',
  'zipcode ': '30303'},
 {'firstName': 'Andrew',
  'lastName': 'Stepp',
  'role': 'student',
  'telephone ': 7866419252,
  'street': '2981 Lamberts Branch Road',
  'city': 'Hialeah',
  'state': 'Fl',
  'zipcode ': '33012'},
 {'firstName': 'Jane',
  'lastName': 'Evans',
  'role': 'student',
  'telephone ': 3259909290,
  'street': '1461 Briarhill Lane',
  'city': 'Abilene',
  'state': 'TX',
  'zipcode ': '79602'},
 {'firstName': 'Jane',
  'lastName': 'Evans',
  'role': 'student',
  'telephone ': 3259909290,
  'street': '1461 Briarhill Lane',
  'city': 'Abilene',
  'state': 'TX',
  'zipcode ': '79602'},
 {'firstName': 'Mary',
  'lastName': 'Raines',
  'role': 'student',
  'telephone ': 9075772295,
  'street': '3975 Jerry Toth Drive',
  'city': 'Ninilchik',
  'state': 'AK',
  'zipcode ': '99639'},
 {'firstName': 'Ed',
  'lastName': 'Lyman',
  'role': 'student',
  'telephone ': 5179695576,
  'street': '3478 Be Sreet',
  'city': 'Lansing',
  'state': 'MI',
  'zipcode ': '48933'}]

In [8]:
# Iterate over the contact list and populate the contactInfo table here
for x in contacts:
  print(x)
  cur.execute(f"""
  INSERT INTO contactInfo {tuple(x.keys())}
    VALUES {tuple(x.values())}

  """)

{'firstName': 'Christine', 'lastName': 'Holden', 'role': 'staff', 'telephone ': 2035687697, 'street': '1672 Whitman Court', 'city': 'Stamford', 'state': 'CT', 'zipcode ': '06995'}
{'firstName': 'Christopher', 'lastName': 'Warren', 'role': 'student', 'telephone ': 2175150957, 'street': '1935 University Hill Road', 'city': 'Champaign', 'state': 'IL', 'zipcode ': '61938'}
{'firstName': 'Linda', 'lastName': 'Jacobson', 'role': 'staff', 'telephone ': 4049446441, 'street': '479 Musgrave Street', 'city': 'Atlanta', 'state': 'GA', 'zipcode ': '30303'}
{'firstName': 'Andrew', 'lastName': 'Stepp', 'role': 'student', 'telephone ': 7866419252, 'street': '2981 Lamberts Branch Road', 'city': 'Hialeah', 'state': 'Fl', 'zipcode ': '33012'}
{'firstName': 'Jane', 'lastName': 'Evans', 'role': 'student', 'telephone ': 3259909290, 'street': '1461 Briarhill Lane', 'city': 'Abilene', 'state': 'TX', 'zipcode ': '79602'}
{'firstName': 'Jane', 'lastName': 'Evans', 'role': 'student', 'telephone ': 3259909290, 'street': '1461 Briarhill Lane', 'city': 'Abilene', 'state': 'TX', 'zipcode ': '79602'}
{'firstName': 'Mary', 'lastName': 'Raines', 'role': 'student', 'telephone ': 9075772295, 'street': '3975 Jerry Toth Drive', 'city': 'Ninilchik', 'state': 'AK', 'zipcode ': '99639'}
{'firstName': 'Ed', 'lastName': 'Lyman', 'role': 'student', 'telephone ': 5179695576, 'street': '3478 Be Sreet', 'city': 'Lansing', 'state': 'MI', 'zipcode ': '48933'}

In [9]:
f"""
  INSERT INTO contactInfo {tuple(x.keys())}
    VALUES {tuple(x.values())}

  """

"\n  INSERT INTO contactInfo ('firstName', 'lastName', 'role', 'telephone ', 'street', 'city', 'state', 'zipcode ')\n    VALUES ('Ed', 'Lyman', 'student', 5179695576, '3478 Be Sreet', 'Lansing', 'MI', '48933')\n  \n  "

In [10]:
tuple(contacts[0].keys())

('firstName',
 'lastName',
 'role',
 'telephone ',
 'street',
 'city',
 'state',
 'zipcode ')

In [11]:
contacts[0].values()

dict_values(['Christine', 'Holden', 'staff', 2035687697, '1672 Whitman Court', 'Stamford', 'CT', '06995'])

In [12]:
type(contacts[0])

dict

**Query the Table to Ensure it is populated**

In [13]:
# Your code here
#Preview the table via the current cursor/connection
cur.execute("""SELECT * FROM contactInfo;""").fetchall()

[(1,
  'Christine',
  'Holden',
  'staff',
  '2035687697',
  'Stamford',
  '1672 Whitman Court',
  'CT',
  '06995'),
 (2,
  'Christopher',
  'Warren',
  'student',
  '2175150957',
  'Champaign',
  '1935 University Hill Road',
  'IL',
  '61938'),
 (3,
  'Linda',
  'Jacobson',
  'staff',
  '4049446441',
  'Atlanta',
  '479 Musgrave Street',
  'GA',
  '30303'),
 (4,
  'Andrew',
  'Stepp',
  'student',
  '7866419252',
  'Hialeah',
  '2981 Lamberts Branch Road',
  'Fl',
  '33012'),
 (5,
  'Jane',
  'Evans',
  'student',
  '3259909290',
  'Abilene',
  '1461 Briarhill Lane',
  'TX',
  '79602'),
 (6,
  'Jane',
  'Evans',
  'student',
  '3259909290',
  'Abilene',
  '1461 Briarhill Lane',
  'TX',
  '79602'),
 (7,
  'Mary',
  'Raines',
  'student',
  '9075772295',
  'Ninilchik',
  '3975 Jerry Toth Drive',
  'AK',
  '99639'),
 (8,
  'Ed',
  'Lyman',
  'student',
  '5179695576',
  'Lansing',
  '3478 Be Sreet',
  'MI',
  '48933')]

## Commit Your Changes to the Database

Persist your changes by committing them to the database.

In [24]:
cur.execute("""
SELECT *
FROM contactInfo;



""").fetchall()

[(1,
  'Christine',
  'Holden',
  'staff',
  '2035687697',
  'Stamford',
  '1672 Whitman Court',
  'CT',
  '06995'),
 (2,
  'Christopher',
  'Warren',
  'student',
  '2175150957',
  'Champaign',
  '1935 University Hill Road',
  'IL',
  '61938'),
 (3,
  'Linda',
  'Jacobson',
  'staff',
  '4049446441',
  'Atlanta',
  '479 Musgrave Street',
  'GA',
  '30303'),
 (4,
  'Andrew',
  'Stepp',
  'student',
  '7866419252',
  'Hialeah',
  '2981 Lamberts Branch Road',
  'Fl',
  '33012'),
 (5,
  'Jane',
  'Evans',
  'student',
  '3259909290',
  'Abilene',
  '1461 Briarhill Lane',
  'TX',
  '79602'),
 (6,
  'Jane',
  'Evans',
  'student',
  '3259909290',
  'Abilene',
  '1461 Briarhill Lane',
  'TX',
  '79602'),
 (7,
  'Mary',
  'Raines',
  'student',
  '9075772295',
  'Ninilchik',
  '3975 Jerry Toth Drive',
  'AK',
  '99639'),
 (8,
  'Ed',
  'Lyman',
  'student',
  '5179695576',
  'Lansing',
  '3478 Be Sreet',
  'MI',
  '48933')]

In [27]:
conn2 = sqlite3.connect('school.sqlite')
cur2 = conn2.cursor()
cur2.execute("""SELECT * FROM contactInfo;""").fetchall()

[(1,
  'Christine',
  'Holden',
  'staff',
  '2035687697',
  'Stamford',
  '1672 Whitman Court',
  'CT',
  '06995'),
 (2,
  'Christopher',
  'Warren',
  'student',
  '2175150957',
  'Champaign',
  '1935 University Hill Road',
  'IL',
  '61938'),
 (3,
  'Linda',
  'Jacobson',
  'staff',
  '4049446441',
  'Atlanta',
  '479 Musgrave Street',
  'GA',
  '30303'),
 (4,
  'Andrew',
  'Stepp',
  'student',
  '7866419252',
  'Hialeah',
  '2981 Lamberts Branch Road',
  'Fl',
  '33012'),
 (5,
  'Jane',
  'Evans',
  'student',
  '3259909290',
  'Abilene',
  '1461 Briarhill Lane',
  'TX',
  '79602'),
 (6,
  'Jane',
  'Evans',
  'student',
  '3259909290',
  'Abilene',
  '1461 Briarhill Lane',
  'TX',
  '79602'),
 (7,
  'Mary',
  'Raines',
  'student',
  '9075772295',
  'Ninilchik',
  '3975 Jerry Toth Drive',
  'AK',
  '99639'),
 (8,
  'Ed',
  'Lyman',
  'student',
  '5179695576',
  'Lansing',
  '3478 Be Sreet',
  'MI',
  '48933')]

In [26]:
conn.commit()

## Create a Table for Student Grades

Create a new table in the database called "grades". In the table, include the following fields: userId, courseId, grade.

** This problem is a bit more tricky and will require a dual key. (A nuance you have yet to see.)
Here's how to do that:

```SQL
CREATE TABLE table_name(
   column_1 INTEGER NOT NULL,
   column_2 INTEGER NOT NULL,
   ...
   PRIMARY KEY(column_1,column_2,...)
);
```

In [15]:
# Create the grades table
cur.execute("""
CREATE TABLE grades (
  id INTEGER PRIMARY KEY,
  firstName TEXT,
  lastName TEXT,
  role TEXT,
  "telephone " TEXT,
  city TEXT,
  street TEXT,
  state TEXT,
  "zipcode " TEXT
)
""")
# TelephoneNumber is text due to usualy having hyphen, etc
# Zipcode is also technically not numbers, just hold things. Keep dtypes consistent.

## Remove Duplicate Entries

An analyst just realized that there is a duplicate entry in the contactInfo table! Find and remove it.

In [16]:
# Find the duplicate entry

In [17]:
# Delete the duplicate entry

In [18]:
# Check that the duplicate entry was removed

## Updating an Address

Ed Lyman just moved to `2910 Simpson Avenue York, PA 17403`. Update his address accordingly.

In [19]:
# Update Ed's address

In [20]:
# Query the database to ensure the change was made

## Commit Your Changes to the Database

Once again, persist your changes by committing them to the database.

In [21]:
# Your code here

## Summary

While there's certainly more to do with setting up and managing this database, you got a taste for creating, populating, and maintaining databases! Feel free to continue fleshing out this exercise for more practice.