<a href="https://colab.research.google.com/github/neurosxx/Descriptive-Stats-Phase-2-/blob/main/Join_Statements_Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Join Statements - Lab

## Introduction

In this lab, you'll practice your knowledge of `JOIN` statements, using various types of joins and various methods for specifying the links between them.

## Objectives

You will be able to:

* Write SQL queries that make use of various types of joins
* Compare and contrast the various types of joins
* Discuss how primary and foreign keys are used in SQL
* Decide and perform whichever type of join is best for retrieving desired data

## CRM ERD

In this lab, you'll use the same customer relationship management (CRM) database that you saw from the previous lesson.
<img src='https://curriculum-content.s3.amazonaws.com/data-science/images/Database-Schema.png' width="600">

## Connecting to the Database
Import the necessary packages and connect to the database `'data.sqlite'`.

In [2]:
!wget https://github.com/learn-co-curriculum/dsc-join-statements-lab/raw/refs/heads/master/data.sqlite

--2024-10-08 15:17:35--  https://github.com/learn-co-curriculum/dsc-join-statements-lab/raw/refs/heads/master/data.sqlite
Resolving github.com (github.com)... 140.82.113.3
Connecting to github.com (github.com)|140.82.113.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/learn-co-curriculum/dsc-join-statements-lab/refs/heads/master/data.sqlite [following]
--2024-10-08 15:17:36--  https://raw.githubusercontent.com/learn-co-curriculum/dsc-join-statements-lab/refs/heads/master/data.sqlite
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.109.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 344064 (336K) [application/octet-stream]
Saving to: ‘data.sqlite.1’

data.sqlite.1       100%[===================>] 336.00K  --.-KB/s    in 0.04s

2024-10-08 15:17:36 (7.44 MB/s) - ‘data.sqlite.1’ saved [344064/344064]

In [3]:
!pip install pandasql # install the missing module
import pandas as pd
import sqlite3
import pandasql # now the module is available

conn = sqlite3.connect('data.sqlite')

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from pandasql) (1.26.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from pandasql) (2.2.2)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (from pandasql) (2.0.35)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2024.2)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->pandasql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->pandasql) (3.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas->pandasql) (1.16.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26772 sha256=6dcca467a9d42961ee655f2cef84df82c9925638a71c87b14995c42f0682015b
  Stored in directory: /root/.cache/pip/wheels/e9/bc/3a/8434bdcccf5779e72894a9b24fecbdcaf97940607eaf4bcdf9
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

 Select the names of all employees in Boston

Hint: join the employees and offices tables. Select the first and last name.

In [14]:
q = '''
SELECT firstName, lastName
FROM employees AS e
INNER JOIN offices AS o
ON e.officeCode = o.officeCode
WHERE city = 'Boston'
LIMIT 10;
'''
pd.read_sql(q,conn)

# 3rd line is selecting employees table from above chart, remember info below employees are the columns!
# 4th line, refer to notes in google docs!
# 5th line is just saying the key that they share in each table, both share officeCode as key --- Easy, don't think about it too much!
# 6th line filters by city to answer original question of "Select the names of all employees in Boston"

  firstName   lastName
0     Julie   Firrelli
1     Steve  Patterson

<img src='https://curriculum-content.s3.amazonaws.com/data-science/images/Database-Schema.png' width="600">

## Are there any offices that have zero employees?
Hint: Combine the employees and offices tables and use a group by. Select the office code, city, and number of employees.

In [5]:
q = '''
SELECT o.officeCode, o.city, COUNT(e.employeeNumber) AS n_employees
FROM offices AS o
LEFT JOIN employees AS e USING(officeCode)
GROUP By officeCode
HAVING n_employees = 0;
'''
pd.read_sql(q,conn)

# Need to figure out how to reference officeCode as an alias for SQL to recognize which table you're referring to cus they both have office code column!

   officeCode    city  n_employees
0          27  Boston            0

In [6]:
q = '''
SELECT *
FROM employees
'''
pd.read_sql(q,conn)

,employeeNumber,lastName,firstName,extension,email,officeCode,reportsTo,jobTitle
0,1002,Murphy,Diane,x5800,dmurphy@classicmodelcars.com,1,,President
1,1056,Patterson,Mary,x4611,mpatterso@classicmodelcars.com,1,1002,VP Sales
2,1076,Firrelli,Jeff,x9273,jfirrelli@classicmodelcars.com,1,1002,VP Marketing
3,1088,Patterson,William,x4871,wpatterson@classicmodelcars.com,6,1056,Sales Manager (APAC)
4,1102,Bondur,Gerard,x5408,gbondur@classicmodelcars.com,4,1056,Sale Manager (EMEA)
5,1143,Bow,Anthony,x5428,abow@classicmodelcars.com,1,1056,Sales Manager (NA)
6,1165,Jennings,Leslie,x3291,ljennings@classicmodelcars.com,1,1143,Sales Rep
7,1166,Thompson,Leslie,x4065,lthompson@classicmodelcars.com,1,1143,Sales Rep
8,1188,Firrelli,Julie,x2173,jfirrelli@classicmodelcars.com,2,1143,Sales Rep
9,1216,Patterson,Steve,x4334,spatterson@classicmodelcars.com,2,1143,Sales Rep
10,1286,Tseng,Foon Yue,x2248,ftseng@classicmodelcars.com,3,1143,Sales Rep
11,1323,Vanauf,George,x4102,gvanauf@classicmodelcars.com,3,1143,Sales Rep
12,1337,Bondur,Loui,x6493,lbondur@classicmodelcars.com,4,1102,Sales Rep
13,1370,Hernandez,Gerard,x2028,ghernande@classicmodelcars.com,4,1102,Sales Rep
14,1401,Castillo,Pamela,x2759,pcastillo@classicmodelcars.com,4,1102,Sales Rep
15,1501,Bott,Larry,x2311,lbott@classicmodelcars.com,7,1102,Sales Rep
16,1504,Jones,Barry,x102,bjones@classicmodelcars.com,7,1102,Sales Rep
17,1611,Fixter,Andy,x101,afixter@classicmodelcars.com,6,1088,Sales Rep
18,1612,Marsh,Peter,x102,pmarsh@classicmodelcars.com,6,1088,Sales Rep
19,1619,King,Tom,x103,tking@classicmodelcars.com,6,1088,Sales Rep
20,1621,Nishi,Mami,x101,mnishi@classicmodelcars.com,5,1056,Sales Rep
21,1625,Kato,Yoshimi,x102,ykato@classicmodelcars.com,5,1621,Sales Rep
22,1702,Gerard,Martin,x2312,mgerard@classicmodelcars.com,4,1102,Sales Rep

In [7]:
q = '''
SELECT *
FROM offices
'''
pd.read_sql(q,conn)

,officeCode,city,phone,addressLine1,addressLine2,state,country,postalCode,territory
0,1,San Francisco,+1 650 219 4782,100 Market Street,Suite 300,CA,USA,94080,NA
1,2,Boston,+1 215 837 0825,1550 Court Place,Suite 102,MA,USA,02107,NA
2,3,NYC,+1 212 555 3000,523 East 53rd Street,apt. 5A,NY,USA,10022,NA
3,4,Paris,+33 14 723 4404,43 Rue Jouffroy D'abbans,,,France,75017,EMEA
4,5,Tokyo,+81 33 224 5000,4-1 Kioicho,,Chiyoda-Ku,Japan,102-8578,Japan
5,6,Sydney,+61 2 9264 2451,5-11 Wentworth Avenue,Floor #2,,Australia,NSW 2010,APAC
6,7,London,+44 20 7877 2041,25 Old Broad Street,Level 7,,UK,EC2N 1HN,EMEA
7,27,Boston,+1 977 299 8345,105 Cambridge Street,,MA,USA,02331,NA

In [8]:
# Note that COUNT(*) is not appropriate here because
# we are trying to count the _employees_ in each group.
# So instead we count by some attribute of an employee
# record. The primary key (employeeNumber) is a
# conventional way to do this
q = """
SELECT
    o.officeCode,
    o.city,
    COUNT(e.employeeNumber) AS n_employees
FROM offices AS o
LEFT JOIN employees AS e ON e.officeCode = o.officeCode
GROUP BY o.officeCode
HAVING n_employees = 0
;
"""
pd.read_sql(q, conn)
# Referred on line 11 to make offices as o. Able to break python rule of declaring a variable before using it. As long as your variables are defined somewhere in the query, you're good.

   officeCode    city  n_employees
0          27  Boston            0

## Write 3 questions of your own and answer them

In [9]:
# Answers will vary

# Example question:
"""
How many customers are there per office?
"""

'\nHow many customers are there per office?\n'

In [10]:
"""
Question 1
"""

# Your code here

'\nQuestion 1\n'

In [11]:
"""
Question 2
"""

# Your code here

'\nQuestion 2\n'

In [12]:
"""
Question 3
"""

# Your code here

'\nQuestion 3\n'

## Level Up 1: Display the names of every individual product that each employee has sold

Hint: You will need to use multiple `JOIN` clauses to connect all the way from employee names to product names.

<img src='https://curriculum-content.s3.amazonaws.com/data-science/images/Database-Schema.png' width="600">

In [15]:
q = """
SELECT p.productName, e.lastName, e.firstName
FROM products AS p
JOIN orderdetails AS d ON p.productcode=d.productCode
JOIN orders AS o ON d.orderNumber=o.orderNumber
JOIN customers AS c ON o.customerNumber=c.customerNumber
JOIN employees AS e ON c.salesRepEmployeeNumber=e.employeeNumber
;
"""
pd.read_sql(q, conn)

# Look at CRM ERD image and follow the graph from employee names to product names (NOTICE how this has "all the way" in the instructions)
# Have to use JOIN multiple times, dont' make this too hard.
# Step 1: select columns you want to display, Notice how you define products AS p in 3rd line, able to reference on line 2 wiht p.productname
# Step 2: Follow table towards employees table, starting with joining orderdetails table on products with common key.
# Step 3 keep doing step 2, looks confusing but it's actuall linear. We then join orders on orderdetails. kl

                                productName   lastName firstName
0     1969 Harley Davidson Ultimate Chopper     Vanauf    George
1     1969 Harley Davidson Ultimate Chopper     Bondur      Loui
2     1969 Harley Davidson Ultimate Chopper     Bondur      Loui
3     1969 Harley Davidson Ultimate Chopper   Thompson    Leslie
4     1969 Harley Davidson Ultimate Chopper   Jennings    Leslie
...                                     ...        ...       ...
2991                             Pont Yacht      Marsh     Peter
2992                             Pont Yacht       Bott     Larry
2993                             Pont Yacht  Hernandez    Gerard
2994                             Pont Yacht  Hernandez    Gerard
2995                             Pont Yacht  Patterson     Steve

[2996 rows x 3 columns]

## Level Up 2: Display the number of products each employee has sold

Alphabetize the results by employee last name.

Hint: Use the `quantityOrdered` column from `orderDetails`. Also, think about how to group the data when some employees might have the same first or last name.

In [25]:
q = """
SELECT SUM(quantityOrdered) AS total_products_sold, e.lastName, e.firstName
FROM products AS p
JOIN orderdetails AS d ON p.productcode=d.productCode
JOIN orders AS o ON d.orderNumber=o.orderNumber
JOIN customers AS c ON o.customerNumber=c.customerNumber
JOIN employees AS e ON c.salesRepEmployeeNumber=e.employeeNumber
GROUP By e.employeeNumber
ORDER by e.lastName
;
"""
pd.read_sql(q, conn)

# Ask about shorter way to do it from Solution.  Also, ask why Order by and group by are benefiical her.e

    total_products_sold   lastName firstName
0                  6186     Bondur      Loui
1                  8205       Bott     Larry
2                  9290   Castillo    Pamela
3                  4227   Firrelli     Julie
4                  6246     Fixter      Andy
5                  4180     Gerard    Martin
6                 14231  Hernandez    Gerard
7                 11854   Jennings    Leslie
8                  7486      Jones     Barry
9                  6632      Marsh     Peter
10                 4923      Nishi      Mami
11                 5561  Patterson     Steve
12                 4056   Thompson    Leslie
13                 5016      Tseng  Foon Yue
14                 7423     Vanauf    George

<img src='https://curriculum-content.s3.amazonaws.com/data-science/images/Database-Schema.png' width="600">

## Level Up 3: Display the names of employees who have sold more than 200


different products

Hint: this is different from the previous question because the quantity sold doesn't matter, only the number of different products

In [31]:
q = """
SELECT COUNT(d.productCode) AS different_products, e.lastName, e.firstName
FROM orderdetails AS d
JOIN orders AS o USING(orderNumber)
JOIN customers AS c USING(customerNumber)
JOIN employees AS e ON c.salesRepEmployeeNumber=e.employeeNumber
GROUP By e.lastName
HAVING different_products > 200
ORDER by e.lastName
;
"""

pd.read_sql(q, conn)

# LIne 6 needs ON statement due to not exact same key. Able to use "USING" When same key!
# Ask about shorter way to do it from Solution.  Also, ask why Order by and group by are benefiical here.

   different_products   lastName firstName
0                 236       Bott     Larry
1                 272   Castillo    Pamela
2                 396  Hernandez    Gerard
3                 331   Jennings    Leslie
4                 220      Jones     Barry
5                 211     Vanauf    George

## Summary

Congrats! You practiced using join statements and leveraged your foreign keys knowledge!