<a href="https://colab.research.google.com/github/neurosxx/Descriptive-Stats-Phase-2-/blob/main/One_to_many_%26_many_to_many_LAB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# One-to-Many and Many-to-Many Joins - Lab

## Introduction

In this lab, you'll practice your knowledge of one-to-many and many-to-many relationships!

## Objectives

You will be able to:

* Explain one-to-many and many-to-many joins as well as implications for the size of query results
* Query data using one-to-many and many-to-many joins

## One-to-Many and Many-to-Many Joins
<img src='https://curriculum-content.s3.amazonaws.com/data-science/images/Database-Schema.png' width="600">

In [2]:
!wget https://github.com/learn-co-curriculum/dsc-join-statements-lab/raw/refs/heads/master/data.sqlite

--2024-10-09 13:21:10--  https://github.com/learn-co-curriculum/dsc-join-statements-lab/raw/refs/heads/master/data.sqlite
Resolving github.com (github.com)... 20.27.177.113
Connecting to github.com (github.com)|20.27.177.113|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/learn-co-curriculum/dsc-join-statements-lab/refs/heads/master/data.sqlite [following]
--2024-10-09 13:21:10--  https://raw.githubusercontent.com/learn-co-curriculum/dsc-join-statements-lab/refs/heads/master/data.sqlite
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 344064 (336K) [application/octet-stream]
Saving to: ‘data.sqlite.1’

data.sqlite.1       100%[===================>] 336.00K  2.17MB/s    in 0.2s

2024-10-09 13:21:11 (2.17 MB/s) - ‘data.sqlite.1’ saved [344064/344064]

## Connect to the Database

Include the relevant imports, then connect to the database located at `data.sqlite`.

In [3]:
!pip install pandasql # install the missing module
import pandas as pd
import sqlite3
import pandasql # now the module is available

conn = sqlite3.connect('data.sqlite')

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from pandasql) (1.26.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from pandasql) (2.2.2)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (from pandasql) (2.0.35)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2024.2)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->pandasql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->pandasql) (3.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas->pandasql) (1.16.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26772 sha256=95b45e2f7cb314f9609b6b160d2f524d785a3a6a7a14b82906862c6e02cb5fdc
  Stored in directory: /root/.cache/pip/wheels/e9/bc/3a/8434bdcccf5779e72894a9b24fecbdcaf97940607eaf4bcdf9
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [4]:
q = '''
SELECT *
FROM employees
'''
pd.read_sql(q,conn)

,employeeNumber,lastName,firstName,extension,email,officeCode,reportsTo,jobTitle
0,1002,Murphy,Diane,x5800,dmurphy@classicmodelcars.com,1,,President
1,1056,Patterson,Mary,x4611,mpatterso@classicmodelcars.com,1,1002,VP Sales
2,1076,Firrelli,Jeff,x9273,jfirrelli@classicmodelcars.com,1,1002,VP Marketing
3,1088,Patterson,William,x4871,wpatterson@classicmodelcars.com,6,1056,Sales Manager (APAC)
4,1102,Bondur,Gerard,x5408,gbondur@classicmodelcars.com,4,1056,Sale Manager (EMEA)
5,1143,Bow,Anthony,x5428,abow@classicmodelcars.com,1,1056,Sales Manager (NA)
6,1165,Jennings,Leslie,x3291,ljennings@classicmodelcars.com,1,1143,Sales Rep
7,1166,Thompson,Leslie,x4065,lthompson@classicmodelcars.com,1,1143,Sales Rep
8,1188,Firrelli,Julie,x2173,jfirrelli@classicmodelcars.com,2,1143,Sales Rep
9,1216,Patterson,Steve,x4334,spatterson@classicmodelcars.com,2,1143,Sales Rep
10,1286,Tseng,Foon Yue,x2248,ftseng@classicmodelcars.com,3,1143,Sales Rep
11,1323,Vanauf,George,x4102,gvanauf@classicmodelcars.com,3,1143,Sales Rep
12,1337,Bondur,Loui,x6493,lbondur@classicmodelcars.com,4,1102,Sales Rep
13,1370,Hernandez,Gerard,x2028,ghernande@classicmodelcars.com,4,1102,Sales Rep
14,1401,Castillo,Pamela,x2759,pcastillo@classicmodelcars.com,4,1102,Sales Rep
15,1501,Bott,Larry,x2311,lbott@classicmodelcars.com,7,1102,Sales Rep
16,1504,Jones,Barry,x102,bjones@classicmodelcars.com,7,1102,Sales Rep
17,1611,Fixter,Andy,x101,afixter@classicmodelcars.com,6,1088,Sales Rep
18,1612,Marsh,Peter,x102,pmarsh@classicmodelcars.com,6,1088,Sales Rep
19,1619,King,Tom,x103,tking@classicmodelcars.com,6,1088,Sales Rep
20,1621,Nishi,Mami,x101,mnishi@classicmodelcars.com,5,1056,Sales Rep
21,1625,Kato,Yoshimi,x102,ykato@classicmodelcars.com,5,1621,Sales Rep
22,1702,Gerard,Martin,x2312,mgerard@classicmodelcars.com,4,1102,Sales Rep

## Employees and Their Offices (a One-to-One Join)

Select all of the employees including their first name and last name along with the city and state of the office that they work out of (if they have one). Include all employees and order them by their first name, then their last name.

In [5]:
q = '''
SELECT firstName, lastName, o.city, o.state
FROM employees AS e
INNER JOIN offices AS o
ON e.officeCode = o.officeCode
ORDER BY firstName, lastName;
'''
pd.read_sql(q,conn)

   firstName   lastName           city       state
0       Andy     Fixter         Sydney
1    Anthony        Bow  San Francisco          CA
2      Barry      Jones         London
3      Diane     Murphy  San Francisco          CA
4   Foon Yue      Tseng            NYC          NY
5     George     Vanauf            NYC          NY
6     Gerard     Bondur          Paris
7     Gerard  Hernandez          Paris
8       Jeff   Firrelli  San Francisco          CA
9      Julie   Firrelli         Boston          MA
10     Larry       Bott         London
11    Leslie   Jennings  San Francisco          CA
12    Leslie   Thompson  San Francisco          CA
13      Loui     Bondur          Paris
14      Mami      Nishi          Tokyo  Chiyoda-Ku
15    Martin     Gerard          Paris
16      Mary  Patterson  San Francisco          CA
17    Pamela   Castillo          Paris
18     Peter      Marsh         Sydney
19     Steve  Patterson         Boston          MA
20       Tom       King         Sydney
21   William  Patterson         Sydney
22   Yoshimi       Kato          Tokyo  Chiyoda-Ku

<img src='https://curriculum-content.s3.amazonaws.com/data-science/images/Database-Schema.png' width="600">

## Customers and Their Orders (a One-to-Many Join)

Select all of the customer contacts (first and last names) along with details for each of the customers' order numbers, order dates, and statuses.

In [6]:
q = '''
SELECT c.contactLastName, c.contactFirstName, ord.orderNumber,
ord.orderDate, ord.status
FROM customers AS c
INNER JOIN orders AS ord
ON c.customerNumber = ord.customerNumber
;
'''
pd.read_sql(q,conn)

    contactLastName contactFirstName  orderNumber   orderDate     status
0           Schmitt          Carine         10123  2003-05-20    Shipped
1           Schmitt          Carine         10298  2004-09-27    Shipped
2           Schmitt          Carine         10345  2004-11-25    Shipped
3              King             Jean        10124  2003-05-21    Shipped
4              King             Jean        10278  2004-08-06    Shipped
..              ...              ...          ...         ...        ...
321          Franco          Valarie        10243  2004-04-26    Shipped
322         Snowden             Tony        10138  2003-07-07    Shipped
323         Snowden             Tony        10179  2003-11-11  Cancelled
324         Snowden             Tony        10360  2004-12-16    Shipped
325         Snowden             Tony        10399  2005-04-01    Shipped

[326 rows x 5 columns]

## Customers and Their Payments (Another One-to-Many Join)

Select all of the customer contacts (first and last names) along with details for each of the customers' payment amounts and date of payment. Sort these results in descending order by the payment amount.

In [7]:
q = '''
SELECT c.contactLastName, c.contactFirstName, pay.amount, pay.paymentDate
FROM customers AS c
INNER JOIN payments AS pay
ON c.customerNumber = pay.customerNumber
GROUP By pay.amount
ORDER By pay.amount DESC
;
'''
pd.read_sql(q,conn)

    contactLastName contactFirstName     amount paymentDate
0            Freyre           Diego   120166.58  2005-03-18
1            Freyre           Diego   116208.40  2004-12-31
2            Nelson            Susan  111654.40  2003-08-15
3         Natividad             Eric  105743.00  2003-12-26
4            Nelson            Susan  101244.59  2005-03-05
..              ...              ...        ...         ...
268         Schmitt          Carine     1676.14  2004-12-18
269        Cartrain         Pascale     1627.56  2003-04-19
270      Bergulfsen           Jonas     1491.38  2003-10-28
271        Cartrain         Pascale     1128.20  2003-08-22
272       Shimamura            Akiko     615.45  2005-05-18

[273 rows x 4 columns]

<img src='https://curriculum-content.s3.amazonaws.com/data-science/images/Database-Schema.png' width="600">

## Orders, Order Details, and Product Details (a Many-to-Many Join)

Select all of the customer contacts (first and last names) along with the product names, quantities, and date ordered for each of the customers and each of their orders. Sort these in descending order by the order date.

> Note: This will require joining 4 tables! This can be tricky! Give it a shot, and if you're still stuck, turn to the next section where you'll see how to write subqueries that can make complex queries such as this much simpler!

In [16]:
q = '''
SELECT
  c.contactLastName,
  c.contactFirstName,
  d.productCode,
  o.orderDate,
  d.quantityOrdered,
  p.productName
FROM customers AS c
JOIN orders AS o USING(customerNumber)
JOIN orderdetails AS d USING(orderNumber)
JOIN products AS p USING(productCode)
ORDER By o.orderDate DESC
;'''
pd.read_sql(q,conn)
df = pd.read_sql(q,conn)
df.head()

# You did great on this lab, did all of it by yourself besides knowing to select
 # from products table! Also, not grouping by.
 # ask instructor why not to group by o.orderNumber.

,contactLastName,contactFirstName,productCode,orderDate,quantityOrdered,productName
0,Labrune,Janine,S10_4962,2005-05-31,38,1962 LanciaA Delta 16V
1,Labrune,Janine,S12_4473,2005-05-31,33,1957 Chevy Pickup
2,Labrune,Janine,S18_2238,2005-05-31,28,1998 Chrysler Plymouth Prowler
3,Labrune,Janine,S18_2319,2005-05-31,38,1964 Mercedes Tour Bus
4,Labrune,Janine,S18_2432,2005-05-31,19,1926 Ford Fire Engine

## Summary

In this lab, you practiced your knowledge of one-to-many and many-to-many relationships!